<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Bootstrap, from Twitter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
     .well {
             background-color: white;
             border: 1px solid #0022B4;
      }
      hr { 
              border-top: 1px solid #0022B4;
      }
      .navbar-inner {
              border-bottom: 1px solid #0022B4;
      }      

      .jayhawk {
              display: block;
              max-width: 100%;
              margin-right: auto;
              margin-left: auto;
      }

      .nav-list > li > a {
              padding: 1px 15px;
      }


    </style>
    <link href="../css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#"><i class="icon-home"></i> Home</a></li>
              <li><a href="#about">Research</a></li>
              <li><a href="#about">Software</a></li>
              <li><a href="#about">Publications</a></li>
              <li><a href="#about">Talks</a></li>
              <li><a href="#about">About Us</a></li>
            </ul>
            <div class="brand nav pull-right">Functional Programming Group at KU</div>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

<div class="container">
      <div class="row">


      <div class="span9">                     
            <div class="row" style="float:right">
              <div class="span4" >
                <div class="well">

      <h1>Bootstrap starter template</h1>
      <p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p>
</div>

              </div>
           </div>

It is also **possible** to write very fast programming in Haskell, or
programs that use finite heap, so could be run on an embedded platform,
or can be captured using a technique called deep embedding, so they
could be cross compiled onto alternative platforms like FPGAs or
graphics cards. However, **each of these techniques fundamentally
compromised some level of clarity**, and therefore negating one of the
reasons to use a functional language in the first place.

As a group, we want to be able to use functional programming language
technology as a bridge between both these programming styles, or more
generally between specification and implementation. At the University of
Kansas, we are addressing this gap using two separate techniques.


It is also **possible** to write very fast programming in Haskell, or
programs that use finite heap, so could be run on an embedded platform,
or can be captured using a technique called deep embedding, so they
could be cross compiled onto alternative platforms like FPGAs or
graphics cards. However, **each of these techniques fundamentally
compromised some level of clarity**, and therefore negating one of the
reasons to use a functional language in the first place.

As a group, we want to be able to use functional programming language
technology as a bridge between both these programming styles, or more
generally between specification and implementation. At the University of
Kansas, we are addressing this gap using two separate techniques.


It is also **possible** to write very fast programming in Haskell, or
programs that use finite heap, so could be run on an embedded platform,
or can be captured using a technique called deep embedding, so they
could be cross compiled onto alternative platforms like FPGAs or
graphics cards. However, **each of these techniques fundamentally
compromised some level of clarity**, and therefore negating one of the
reasons to use a functional language in the first place.

As a group, we want to be able to use functional programming language
technology as a bridge between both these programming styles, or more
generally between specification and implementation. At the University of
Kansas, we are addressing this gap using two separate techniques.



      </div>

              <div class="span3">

                <div class="well">
                      <img src="../img/jhwk_LF_100px.gif" class="jayhawk">
                      <hr>
                      <h6>Functional Programming Group at KU</h6>

                      <ul class="nav nav-list">
                              <li><a href="#"><i class="icon-home"></i> Home</a></li>
                              <li><a href="#"><i class="icon-wrench"></i> Research</a></li>
                              <li><a href="#"><i class=" icon-hdd"></i> Software</a></li>

                              <ul class="nav nav-list" style="margin-left: 0pt">
                                      <li><a href="#"><i class=" icon-minus"></i> Andy Gill</a></li>
                                      <li class="active"><a href="#"><i class=" icon-play"></i> Forest Gump </a></li>
                                      <li><a href="#"><i class=" icon-minus"></i>Captain Kirk</a></li>
                                              
                              </ul>


                              <li><a href="#"><i class="icon-book"></i> Publications</a></li>
                              <li><a href="#"><i class="icon-comment"></i> Talks</a></li>
                              <li><a href="#"><i class="icon-user"></i> About Us</a></li>

                              <ul class="nav nav-list" style="margin-left: 0pt">
                                      <li><a href="#"><i class=" icon-chevron-right"></i> Andy Gill</a></li>
                                      <li><a href="#"><i class=" icon-chevron-right"></i> Forest Gump </a></li>
                                      <li><a href="#"><i class=" icon-chevron-right"></i>Captain Kirk</a></li>
                                              
                              </ul>


                      </ul>

                      <hr>
                      <ul class="nav nav-list">
                              <li><a href="#"><i class="icon-home"></i> Home</a></li>
                      </ul>


                      <hr>
                                            <img src="../img/KUsighorz2C.gif" class="jayhawk">


                      Look, I'm in a well
                </div>

                      
             </div>
      </div>
 </div>


    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery-1.8.3.min.js"></script>
    <script src="../assets/js/bootstrap.js"></script>

    <script>
        
    </script>

  </body>
</html>
