<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Functional Programming Group</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/bootstrap-responsive.css" rel="stylesheet">
    <link href="../css/fpg.css" rel="stylesheet">
    <script src="../js/jquery-1.8.3.min.js"> </script>
    <script src="../js/bootstrap.js"> </script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/index.html">Home</a></li>
              <li><a href="/Research.html">Research</a></li>
              <li><a href="/Software.html">Software</a></li>
              <li><a href="/Publications.html">Publications</a></li>
              <li><a href="/About.html">About Us</a></li>
            </ul>
            <div class="brand nav pull-right">FPG@KU</div>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
        <div id="contents" class="fpg-contents">Page Contents Go Here</div>
    </div>

    <div id="footer">
      <div class="container">
        <span>Last Updated: <span class="fpg-update-time">Time and date goes here</span></span>
        <div class="pull-right">&copy; The University of Kansas 2012</div>
        <br>
      </div>
    </div>
  </body>
</html>
